.font-primary {
    @include Font1;
}

.fonts-stage-2 {
    .font-secondary {
        @include Font2;
    }

    .font-secondary.font-weight-bold {
        font-weight: $font-bold !important;
    }
}

.font-secondary.font-weight-bold {
    font-weight: 400 !important;
}

@each $size,
$value in $font-sizes {
    $remSize: $value / 10px;

    .font-size-#{$size} {
        font-size: #{$remSize}rem !important;
    }

    @each $breakpoint in (sm, md, lg, xl) {
        @include media-breakpoint-up(#{$breakpoint}) {
            .font-size-#{$breakpoint}-#{$size} {
                font-size: #{$remSize}rem !important;
            }
        }
    }
}