/* [] GALLERY */
.gallery-link {

    &:hover,
    &:focus {
        @include media-breakpoint-up(lg) {
            .gallery-link-hover {
                opacity: 1;
            }

            .gallery-link-icon .icon {
                transform: translate(0, 0);
            }
        }
    }
}

.gallery-link-icon {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    color: $color4;

    .icon {
        transition: .5s all ease;
        fill: $color4;
        width: 2rem;
        height: 2rem;
        transform: translate(0, .5rem);
        will-change: transform;
    }
}

.gallery-link-hover {
    @include transition();
    opacity: 0;
    background: $color2;
    background: rgba($color2, .8);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
}