.match-score {
  @include Font2;
  @include font-size(72px);
  font-weight: 900;
  line-height: 1;
  @include media-breakpoint-down(md) {
    @include font-size(54px);
  }
}

.match-score-summary {
  tbody {
    td,
    th {
      padding: 0.5rem;
    }
  }

  tr:last-child {
    td,
    th {
      border-bottom: 0;
    }
  }
}
.match-team {
  display: flex;
  align-items: center;
  max-width: 220px;
  width: 100%;
  @include media-breakpoint-down(sm) {
    flex-direction: column;
    gap: 12px;
    max-width: 140px;
    text-align: center !important;
  }
  img {
    width: 48px;
    height: 48px;
    object-fit: contain;
    @include media-breakpoint-down(sm) {
      margin: 0 !important;
    }
  }
  &:first-child {
    justify-content: flex-end;
    min-width: 220px;
    text-align: right;
    margin-right: 12px;
    @include media-breakpoint-down(sm) {
      min-width: auto;
      flex-direction: column-reverse;
      margin-right: 0;
    }
  }
  &:last-child {
    margin-left: 12px;
    @include media-breakpoint-down(sm) {
      margin-left: 0;
    }
  }
}
.match-place {
  text-align: center;
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.match-results {
  min-width: 44px;
  text-align: center;
}

.match-list-left {
  @include media-breakpoint-down(md) {
    position: relative;
    &::before {
      content: '';
      width: 1px;
      position: absolute;
      right: -10px;
      height: 100%;
      background-color: $black;
    }
  }
}

.match-list {
  @include media-breakpoint-down(md) {
    padding: 0 12px;
  }
}
