/* [] MENU */
.menu-item-group {
  display: flex;
  gap: 48px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  @include media-breakpoint-down(sm) {
    padding: 10rem 0 4rem;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.menu-logo {
  @include media-breakpoint-up(md) {
    width: 12rem;
    min-width: 12rem;
  }

  width: 10rem;
  min-width: 10rem;
}

.menu-item {
  position: relative;
  @include media-breakpoint-down(sm) {
    transition: opacity 0.35s ease-out, transform 0.35s ease-out, -webkit-transform 0.35s ease-out;
    transform: scale(1.1) translateY(-24px);
    opacity: 0;
    margin: 0 $gutter;
    will-change: auto;
  }
}

.menu-link {
  display: block;
  font-size: 18px !important;
  font-weight: 700;
  text-transform: uppercase;
  @include media-breakpoint-up(md) {
    @include font-size($font-size-smaller);
    color: $color4;
  }

  color: $color4;
  padding: 1rem 0;

  &:hover,
  &:focus {
    @include media-breakpoint-up(md) {
      color: #ec604c;
    }

    color: $color4;
    text-decoration: none;
  }
  img {
    width: auto !important;
    max-width: 120px;
    height: 32px !important;
    width: fit-content;
    @include media-breakpoint-down(sm) {
      height: auto !important;
      max-height: 56px;
    }
  }
}

.menu-link-icon {
  margin-top: 0.3rem;
}

.menu-close-btn {
  top: 3.5rem;
  right: 1.4rem;
  opacity: 0;
}

.menu-collapse {
  @include media-breakpoint-down(sm) {
    will-change: auto;
    position: absolute;
    height: 100%;
    background: rgba($futsalColor, 0.95);
    left: 0;
    right: 0;
    top: 0;
    overflow: scroll;
    display: block;
    height: 0;
  }

  &.is-active {
    animation: collapse 230ms ease-out forwards;

    .menu-item {
      transform: scale(1) translateY(0);
      opacity: 1;
    }

    .menu-close-btn {
      opacity: 1;
    }
  }
}

.menu-icon-label {
  transition: 0.4s cubic-bezier(0.3, 0.01, 0.165, 0.99);
  transform: rotate(0);
  top: 2.6rem;
  right: 2rem;
  background: none;
  border: 0;
  padding: 0;

  &:hover {
    cursor: pointer;
  }
}

@keyframes collapse {
  0% {
    height: 0;
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    height: 100vh;
  }
}

.menu-link--logo {
  @include media-breakpoint-down(sm) {
    height: 60px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.menu-group {
  gap: 24px !important;
  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}

.menu-item .submenu {
  display: none;
  position: absolute;
  z-index: 33;
  width: max-content;
  background-color: #007179;
  top: 37px;
  min-width: 200px;
  border-radius: 0px 0px 4px 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  border-top: 1px solid #e7371e;

  .submenu-link {
    display: block;
    width: 100%;
    padding: 8px 24px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    text-align: left;
    @include media-breakpoint-down(sm) {
      text-align: center;
      font-size: 18px;
    }
    &:hover {
      background: rgba(#fff, 0.2);
      a {
        color: #fff;
      }
    }
  }
}

.menu-item .submenu.is-active {
  transition: all 0.8s;
  display: block;
  z-index: 28;
  @include media-breakpoint-down(sm) {
    height: 100%;
    display: block;
    position: static;
    margin: 0 auto;
    background: transparent;
  }
}
