.scoreboard {
  border-top-width: 2px !important;
  @include media-breakpoint-up(lg) {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  overflow-x: scroll;
  height: 12rem;
}
.gamma {
  margin-bottom: 0;
  font-size: 3rem;
}

.scoreboard-item {
  flex: 0 0 24rem;
  height: 12rem;
  background-color: #fff;

  align-items: center;
  display: flex;
  justify-content: space-between;
  border-right: 1px solid #ec604c !important;
}

.scoreboard-control {
  width: 4rem;
  height: 4rem;

  background-color: transparent;
  top: 50%;
  transform: translateY(-50%);
  &:hover {
    cursor: pointer;
  }
}

.scoreboard-item-online {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.scoreboard-item__content {
  position: relative;
  margin: 0 auto;

  &-info {
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
  }
}
.scoreboard-item--live {
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: fit-content;
}
