.subfooter {
  border-bottom: 1px solid $color6;
  margin-top: 24px;
  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    padding: 16px 0;
  }
}

.subfooter-logo {
  object-fit: contain;
  width: 15rem;
  height: auto;
  margin: 0 auto;
}

.subfooter__link {
  width: fit-content;
  font-size: 18px !important;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  display: block;
  img {
    width: 100%;
    object-fit: contain;
    max-width: 120px;
    height: 32px !important;
  }
}
