/* [] TABLE */
.table {
    width: 100%;
    border-collapse: collapse;

    caption {
        padding: 1.5rem;
        background-color: $border-color;
    }

    th,
    td {
        @include font-size($font-size-smaller);
        line-height: 1.3;

    }

    thead {
        th {
            font-weight: $font-bold;
            padding: 1.5rem 2rem;
            text-align: left;
        }
    }

    tbody {
        td {
            padding: 1.5rem 2rem;
        }
    }
}

.table-bordered {

    td,
    th {
        border-bottom: 1px solid $border-color;
    }
}

.table-striped {
    tbody {
        tr {
            background: $color1;

            &:nth-child(even) {
                background: $color1;
            }

            &:hover {
                background: rgba($color1, .2);
            }
        }
    }
}

.table-condensed {
    tbody {
        td {
            padding: 1rem;
        }
    }

    thead {
        th {
            padding: .36em;
        }
    }
}

.table-responsive {
    @include media-breakpoint-down(md) {
        width: 100%;
        overflow: scroll;
    }
}